* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

::-moz-selection {
  background-color: #fff;
  color: #181818; }

::selection {
  background-color: #fff;
  color: #181818; }

body {
  font-family: 'Poppins', sans-serif;
  color: #c0c0c0;
  background: #000000; }

.main {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px; }

.header {
  position: absolute;
  width: 100%;
  padding: 24px 16px;
  background: #181818;
  z-index: 10; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    display: inline-block; }
  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__menu-item {
    margin-right: 32px; }
  .header__menu-link {
    color: #ffffff;
    font-size: 15px;
    line-height: 20px; }
    .header__menu-link::before, .header__menu-link::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
      transition: opacity 0.2s, -webkit-transform 0.3s;
      transition: transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s; }
    .header__menu-link::before {
      margin-right: 10px;
      content: '[';
      -webkit-transform: translateX(20px);
              transform: translateX(20px); }
    .header__menu-link::after {
      margin-left: 10px;
      content: ']';
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px); }
    .header__menu-link:hover::before, .header__menu-link:hover::after, .header__menu-link:focus::before, .header__menu-link:focus::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px); }
  .header__menu-btn {
    padding: 9px 20px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #ffffff;
    border-radius: 14px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative; }
    .header__menu-btn:after {
      content: '>';
      position: absolute;
      opacity: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: -20px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .header__menu-btn:hover, .header__menu-btn:focus {
      padding-left: 14px;
      padding-right: 26px; }
    .header__menu-btn:hover:after, .header__menu-btn:focus:after {
      opacity: 1;
      right: 10px; }

.hero {
  position: relative;
  padding: 90px 15px 100px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hero__content {
    max-width: 600px;
    text-align: center; }
  .hero__subtitle {
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .hero__title {
    font-size: 54px;
    line-height: 76px;
    color: #ffffff;
    margin-bottom: 18px; }
  .hero__text {
    line-height: 20px; }

.services {
  padding: 120px 0 100px; }
  .services__title {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px; }
  .services__text {
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 42px; }
  .services__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    gap: 16px; }

.service {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .service__title {
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff; }
  .service__text {
    line-height: 20px;
    margin-bottom: 17px; }
  .service__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 5px 10px 5px 4px; }
    .service__btn::before {
      display: inline-block;
      content: url(../img/svg/btn-icon.svg);
      width: 32px;
      height: 32px;
      margin-right: 6px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .service__btn:hover::before {
      margin-right: 10px; }

.tools {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tools__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .tools__content-wrap {
    max-width: 514px;
    padding: 40px; }
  .tools__subtitle {
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px; }
  .tools__title {
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px; }
  .tools__text {
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .tools__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 5px 10px 5px 4px; }
    .tools__btn::before {
      display: inline-block;
      content: url(../img/svg/btn-icon.svg);
      width: 32px;
      height: 32px;
      margin-right: 6px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .tools__btn:hover::before {
      margin-right: 10px; }
  .tools__photo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-height: 540px; }

.photo-section {
  position: relative;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 60px; }
  .photo-section__content {
    max-width: 300px; }
  .photo-section__title {
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff; }
  .photo-section__text {
    line-height: 20px; }

.photo-parameters {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .photo-parameters__item:not(:last-child) {
    margin-right: 16px; }
  .photo-parameters__icon {
    width: 16px;
    height: 16px; }
  .photo-parameters__value {
    font-size: 12px;
    line-height: 12px;
    color: #ffffff; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg__img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.clients {
  padding: 120px 0;
  text-align: center; }
  .clients__title {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px; }
  .clients__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 80px; }
  .clients__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 109px; }
  .clients__item {
    max-width: 128px; }
    .clients__item img {
      width: 100%; }

.get-in-touch {
  text-align: center;
  padding: 100px 0; }
  .get-in-touch__title {
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 15px; }
  .get-in-touch__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 22px; }
  .get-in-touch__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 5px 10px 5px 4px; }
    .get-in-touch__btn::before {
      display: inline-block;
      content: url(../img/svg/btn-icon.svg);
      width: 32px;
      height: 32px;
      margin-right: 6px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .get-in-touch__btn:hover::before {
      margin-right: 10px; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out; }
  .preloader.hide {
    opacity: 0;
    visibility: hidden;
    z-index: -100; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite; }

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0); } }
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0); } }
/*----------------------------------*/
.footer {
  padding: 100px 0; }
  .footer__top {
    padding-bottom: 36px; }
  .footer__logo {
    display: inline-block;
    margin-bottom: 20px; }
  .footer__text {
    font-size: 13px;
    line-height: 20px; }
  .footer__subscribe {
    padding: 36px 0;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__subscribe-title {
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .footer__subscribe-form {
    position: relative;
    max-width: 458px; }
  .footer__subscribe-email {
    width: 100%;
    padding: 5px 80px 5px 10px;
    font-size: 16px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    height: 52px; }
  .footer__subscribe-btn {
    position: absolute;
    top: 50%;
    right: 6px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 63px;
    height: 30px;
    background-color: #000000;
    border-radius: 11px;
    cursor: pointer; }
  .footer__bottom {
    padding-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px; }
  .footer__social-item {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .footer__social-item:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

/*# sourceMappingURL=style.css.map */